@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* テキストの色 */
  --background-rgb: 220, 220, 220;
  /* ベースの背景色（明るいグレー） */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* テキストの色（ダークモード） */
    --background-rgb: 70, 70, 70;
    /* ベースの背景色（ダークモード） */
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: Arial, sans-serif;
}

/* ここに追加のスタイルを定義できます */

.link-card {
  @apply shadow-md cursor-pointer hover:shadow-md hover:scale-105 transition-transform duration-300 rounded-lg;
}

.support-document {
  @apply bg-white mx-auto my-2 p-4 max-w-xl;
}