@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* テキストの色 */
  --background-rgb: 220, 220, 220;
  /* ベースの背景色（明るいグレー） */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* テキストの色（ダークモード） */
    --background-rgb: 70, 70, 70;
    /* ベースの背景色（ダークモード） */
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: Arial, sans-serif;
}

/* ここに追加のスタイルを定義できます */

.basic-card {
  @apply shadow-lg bg-white border-solid border border-black rounded-lg;
}

.link-card {
  @apply shadow-md cursor-pointer hover:shadow-md hover:scale-105 transition-transform duration-300 rounded-lg;
}

.support-document {
  @apply bg-white mx-auto my-2 max-w-3xl rounded-md p-6;
}

.support-document h3 {
  @apply text-xl font-bold my-3;
}

.support-document h4 {
  @apply font-bold my-2;
}

h2 {
  @apply text-2xl font-bold my-2;
}

.under-line-blue {
  @apply border-b-4 border-blue-500;
}

.marker-yellow {
  @apply bg-yellow-300 text-black;
}
